.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin-right: 8px;
}

.App-CityChecker-Group {
    display: flex;

    width: 450px;

    margin-top: 15px;
}

.App-CityChecker {
    width: 75%;
}

.App-Button {
    width: 25%;
    max-height: 56px;
}

.App-Error {
    font: 400 22px/1.5 sans-serif;
}